

<div class="footer text-center ">
	<div class="wthree-copyright">
		<p>© 2018 Bera Yazılım - Arge tarafından hazırlanmıştır. Tüm hakları saklıdır. <a >Şevket Kaplan-Web Developer</a></p>
	</div>
</div>
