<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>

        <Cell><Data ss:Type="String">Firma Adı</Data></Cell>
        <Cell><Data ss:Type="String">Ödeme Miktarı</Data></Cell>
        <Cell><Data ss:Type="String">Ücreti Teslim Alan</Data></Cell>
                <Cell><Data ss:Type="String">Ödeme Tarihi</Data></Cell>
      </Row>
      <% Odeme.all.order("created_at DESC").each do |odeme| %>
      <Row>

        <Cell><Data ss:Type="String"><%=odeme.teslim_yeri%></Data></Cell>
        <Cell><Data ss:Type="String"><%=odeme.odeme_miktari%> TL</Data></Cell>
        <Cell><Data ss:Type="String"><%=odeme.dagitici%></Data></Cell>
        <Cell><Data ss:Type="String"><%=odeme.date.strftime("%d-%m-%Y")%></Data></Cell>
      </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>