<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
 
        <Cell><Data ss:Type="String">Firma Adı</Data></Cell>
        <Cell><Data ss:Type="String">Toplam Borç</Data></Cell>
        <Cell><Data ss:Type="String">Son Ödeme Tarihi</Data></Cell>
      </Row>
      <% Bakiye.all.order("created_at DESC").each do |bakiye| %>
      <Row>
        
        <Cell><Data ss:Type="String"><%=bakiye.teslim_yeri%></Data></Cell>
        <Cell><Data ss:Type="String"><%=bakiye.toplam_borc%> TL</Data></Cell>
        <Cell><Data ss:Type="String"><%=bakiye.date.strftime("%d-%m-%Y")%></Data></Cell>
      </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>