<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>

  
        <Cell><Data ss:Type="String">Personel Maaş Gideri</Data></Cell>
        <Cell><Data ss:Type="String">Personel Yemek Gideri</Data></Cell>
        <Cell><Data ss:Type="String">Tarih</Data></Cell>
        
      </Row>
      <% Personelgideri.all.order("created_at DESC").each do |satilan| %>
      <Row>

        <Cell><Data ss:Type="String"><%=satilan.maas%></Data></Cell>
        <Cell><Data ss:Type="String"><%=satilan.yemek%></Data></Cell>
        <Cell><Data ss:Type="String"><%=satilan.created_at.strftime("%d-%m-%Y")%></Data></Cell>
      </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>